@tailwind preflight;
@tailwind components;
@tailwind utilities;

#dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, .75fr));
    grid-gap: 1em;
    position: relative;
    grid-template-areas: 
    "ti ti li li wh"
    "la la cl ld ld"
    
    /* "ti ti ti ti" */
}

.cluster{
    /* grid-row: 2;
    grid-column: 1 */
    grid-area: cl
}
.load{
    /* grid-row: 1;
    grid-column:2 */
    grid-area: ld
}
.labs{
    /* grid-row: 1;
    grid-column: 3 */
    grid-area: la
}
.licences{
    /* grid-row: 1/3;
    grid-column: 3; */
    grid-area: li
}

.tickets{
    /* grid-row: 3;
    grid-column: 1/4 */
    grid-area: ti
}
.weather{
    /* grid-row: 2;
    grid-column: 2; */
    grid-area: wh
}
